* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    cursor: default;
}
a {
    color: white;
    text-decoration: none;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
/************************header*************************/
.container {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-height: 70px;
    background: #414141;
    z-index: 200;
}
.header_inner ul li {
    margin: 26px 40px;
    font-weight: bold;
}
.header_inner ul li a:hover {
    color: #8d8d8d;
}
.btn_menu {
    display: none;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
}
/************************home_fone*************************/
.parallax-home {
    min-height: 620px;
}
.fon_title {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    padding-top: 150px;
    margin: 0 auto;
    text-align: center;
}
.fon_text {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
.fon_social {
    position: relative;
    text-align: center;
    bottom: -260px;
}
.fon_social a {
    color: #ffffff;
    font-size: 40px;
    margin: 0 8px;
    z-index: 1;
}
.fon_social-vk:before {
    content: "\e901";
    font-family: 'icomoon' !important;
}
.fon_social-fb:before {
    content: "\e900";
    font-family: 'icomoon' !important;
}
.fon_social-inst:before {
    content: "\e902";
    font-family: 'icomoon' !important;
}

/************************services*************************/
.parallax-services {
    min-height: 620px;
    background: transparent;
}
.services_title {
    color: #ffffff;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 30px;
}
.services_hr {
    margin: 0 auto;
    width: 30px;
    height: 4px;
    border: 2px solid white;
    border-radius: 10px;
}
.services_items {
    width: 700px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px;
}
.services_item {
    width: 150px;
    height: 300px;
}
.services_item-im {
    margin: 15px auto;
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 25px;
}
.ser_tools:before {
    content: "\e903";
    font-family: 'icomoon' !important;
    font-size: 60px;
}
.ser_tags:before {
    content: "\f02c";
    font-family: 'icomoon' !important;
    font-size: 60px;
}
.ser_paint:before {
    content: "\f1fc";
    font-family: 'icomoon' !important;
    font-size: 60px;
}
.services_item-title {
    line-height: 3;
    font-size: 22px;
}
/************************works*************************/
.works {
    text-align: center;
    padding: 50px 0px;
    position: relative;
}
.works_title {
    color: black;
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.works_hr {
    margin: 0 auto;
    width: 30px;
    height: 4px;
    border: 2px solid black;
    border-radius: 10px;
}
.works_text {
    color: black;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 20px;
}
.work_images{
    max-width: 1278px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.work_img {
    width: 33%;
    cursor: pointer;
    max-height: 319px;
    margin: auto;
}

.work_img:hover {
    /*-webkit-filter: brightness(40%);*/
    filter: brightness(40%);
    transition: 1s;
}
/************************slider*************************/
.slider {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
}
.slider_fon {
    display: none;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.slider-show_container {
    max-width: 630px;
    position: relative;
    margin: 214px auto;
    z-index: 152;
}
.my_slides img {
    width: 100%;
}
.prev, .next, .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
.prev {
    border-radius: 5px;
    left: -100px;
}
.next {
    right: -100px;
    border-radius: 5px;
}
.close {
    top: 0;
    right: -200px;
    border-radius: 50%;
    padding: 10px 18px 8px;
    font-size: 32px;
}
.prev:hover, .next:hover, .close:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.text {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: 0.4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: 0.4}
    to{opacity: 1}
}

/************************about*************************/
.parallax_about {
    min-height: 620px;
    background: transparent;
}
.about_inner {
    text-align: center;
    margin: auto;
    max-width: 650px;
    min-height: 400px;
    background-color: white;
    position: relative;
    top: 100px;
}
.about_title {
    color: black;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.about_hr {
    margin: 0 auto;
    width: 30px;
    height: 4px;
    border: 2px solid black;
    border-radius: 10px;
}
.about_text {
    color: black;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 450px;
    margin: 0 auto;
}
/************************fon_about*************************/
.parallax-fon_about {
    min-height: 620px;
    background: transparent;
}
/************************contacts*************************/
.parallax_contacts {
    min-height: 850px;
    background: transparent;
}
.contacts_img {
    padding-top: 50px;
    text-align: center;
    background: transparent;
}
.contacts_inner {
    text-align: center;
    margin: auto;
    max-width: 650px;
    min-height: 500px;
    background-color: white;
}
.contacts_title {
    color: black;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.contacts_hr {
    margin: 0 auto;
    width: 30px;
    height: 4px;
    border: 2px solid black;
    border-radius: 10px;
}
.contacts_content {
    display: flex;
    padding: 20px 40px;
}
.contacts_text {
    width: 50%;
}
.contacts_text p {
    color: black;
    line-height: 0.5;
    font-size: 14px;
    text-align: left;
}
.contacts_form {
    width: 50%;
}
.contacts_form input {
    width: 100%;
    padding: 5px 20px;
    margin-top: 10px;
}
.contacts_form textarea {
    width: 100%;
    padding: 5px 20px;
    margin-top: 10px;
    resize: none;
}
.contacts_form #btn {
    background: #4b4b4b;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
}
.contacts_form #btn:hover {
    opacity: 0.7;
    transition: 1s;
    cursor: pointer;
}
.contacts_form input:hover, .contacts_form textarea:hover {
    border: 2px solid black;
}
/************************footer*************************/
.footer {
    padding: 50px;
    background: #4b4b4b;
    min-height: 200px;
    text-align: center;
}
.footer_social {
    font-size: 32px;
}
.footer_copy {
    margin-top: 50px;
    font-size: 14px;
}
